a{
  text-decoration: none;
}
.logo {
  padding-top: 20px;
  padding-bottom: 10px;
  width:300px;
}



#searchBar {
  width: 30%;
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1em;
  margin-left: 800px;
}

.searchicon{

  float: right;
  padding-right: 5px;
  width: 2%;
  height: 2%;
  
}
.signin{
 float: right;
 padding-right: 5px;
 width: 2%;
 height: 2%;
 
}

.addtocart{
 float: right;
 padding-right: 5px;
 width: 2%;
 height: 2%;
 margin-right: 20px;
}
.pro {
 
  margin-left: 20px;
  font-size: 23px;
  display: inline-block;
  transition: transform 0.2s ease;
  text-decoration: none;
  color: black;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
}

.pro:hover {
  color: #000000;
  transform: scale(1.2);
}

.h3{
    background-color: black;
    padding:20px;
    margin-top: 20px;
    text-align: center;
    padding: 10px 0px 10px 0px;
    color: #F2F1EE;
    font-size: 25px;
  }
  
  .header-nav{
    margin-left: 10px;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F2F1EE;
  }
  

  
 #container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0px;
  }
  
  .product-card {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-bottom: 20px;
  }
  
  .product-image {
    width: 30%;
    height: fit-content;
    object-fit: cover;
  }
  
  .product-info {
    padding: 20px;
    width: 70%;
  }
  
  .product-title {
    font-size: 22px;
    margin-bottom: 10px;
  }
  
  .product-description {
    font-size: 14px;
    margin-bottom: 10px;
    color: #666;
  }
  
  .product-price {
    font-size: 18px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .original-price {
    color: #999;
    margin-left: 10px;
    text-decoration: line-through;
  }
  
  .buy-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2E86C1;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .buy-button:hover {
    background-color: #1A5BB9;
  }

 
  .footer
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:repeat(5,1fr);
    margin-top:40px;
    height: 200px;
    text-align: left;
    justify-items: center;
    background-color: #212121;
}

.footer .items{
    color: hsl(0, 0%, 47%);
    padding: 0px;
    margin: 0px;
    font-style: italic;

}

.footer .items:hover,
.footer .items:hover a {
    color: hsl(353, 100%, 78%);
}

.items1{
    color: white;
    text-transform: uppercase;
    font-size: 24px;
    margin: 10px;
    position: relative;
}

.items1::after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 50%;
    height: 2px;
    background-color: hsl(353, 100%, 78%);
}



.footer-bottom {
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(0, 0%, 47%);
  }

.payment-img{
    margin: 15px;
}

.f-b-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.copyright{
    text-align: center;
    font-size: 16px;
}

.copyright a{
    text-decoration: none;
    color: hsl(0, 0%, 47%);
}

.seperation{
    height: 1px;
    background-color: hsla(0, 2%, 27%, 0.752);
    margin: 0px;
    width: 100%;
}
#ca1{
height: auto;
width: auto;
}
@media only screen and (max-width : 480px) {


  .h3{
    width:1360px;
    height: 50px;
    font-size: 30px;
  }

  .header-nav{
    width: 1360px;
    height: 50px;
    padding: 0px;
  }

  #searchBar{
    margin-left: 300px;

  }
  .searchicon{
    width: 40px;
    height: 35px;
  }
  .addtocart{
    width: 40px;
    height: 35px;

  }

  .signin{
    width: 40px;
    height: 35px;

  }

  .product{
    width: 400px;

  }
  #container{
    padding: 5px;
    width: 1300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #F2F1EE;
    color: black;
    border-radius: 20px;
    gap: 3%;
  }
  

  .footer{
    margin-top: 30px;
    width: 1360px;
    height: 250px;
    padding: 0px;
  }

  .footer .items1{
    font-size: 30px;
  }

  .footer .items{
    font-size: 25px;
  }

  .footer-bottom{
    width:1360px;
  }

  .copyright{
    font-size: 20px;
  }
}
